<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add User</title>
    <link rel="stylesheet" href="\static\add_user.css">
</head>

<body>

    <h2>Add User</h2>

    <div class="form-container">
        <form method="POST">
            <input type="text" name="name" placeholder="Enter your name" required>

            <input type="number" name="phone" placeholder="Enter your phone number" required>

            <button type="submit">Add User</button>
        </form>
    </div>

</body>

</html>