<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer of the Month</title>

    <link rel="stylesheet" href="/static/customer_of_month.css">
</head>

<body>

    <h1>🥇 Customer of the Month</h1>

    <div class="card">
        {% if user %}
        <h2>{{ user.name }}</h2>
        <p><b>Phone:</b> {{ user.phone }}</p>
        <p><b>Total Spending:</b> {{ total_spending }}</p>
        <p><b>Total Visits:</b> {{ visit_count }}</p>
        {% else %}
        <p>No users found</p>
        {% endif %}
    </div>

    <a href="/">Back to Home</a>

</body>

</html>