<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cash Register System</title>

    <link rel="stylesheet" href="/static/index.css">

</head>
<body>

    <div class="container">
        <h1>Cash Register System</h1>

        <a href="/add-user"> Add New User</a><br><br>
        <a href="/search"> Search User</a>

        <p>Manage your users easily with our system.</p>
    </div>

</body>
</html>
