<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search User</title>

   <link rel="stylesheet" href="/static/search_user.css">
</head>

<body>

    <div class="container">
        <h1>Search User Data</h1>

        <form action="/search" method="POST">
            <input type="text" name="query" placeholder="Search by name or phone">
            <button type="submit">Search</button>
        </form>

        {% if user %}
        <div class="details-box">
            <h2>User Details</h2>
            <p><strong>Name:</strong> {{ user.name }}</p>
            <p><strong>Phone:</strong> {{ user.phone }}</p>
            <p><strong>Balance:</strong> {{ user.balance }}</p>
            <p><strong>Last Transaction:</strong> {{ user.last_transaction }}</p>

            <a href="/update-balance/{{ user.phone }}">Update Balance</a><br>
            <a href="/transactions/{{user.phone}}">View Transaction History</a>
            <!-- <a href="/customer-of-month">Customer Of The Month</a> -->
        </div>
        {% else %}
        <p>{{message}}</p>
        {% endif %}
    </div>

</body>

</html>
